.bg-card {
  background-color: orange;
}

.bg-card2 {
  background-color: orange;
  border: 1px solid orange;
}
.bg-card2:hover {
  background-color: rgb(197, 132, 12);
  border: 1px solid orange;
}

/* button color modify */
.btn-warningbg {
  background-color: white !important;
}
.btn-warningbg:hover {
  color: gray !important;
}

/* Main box Card Radius */
.card2 {
  border-radius: 0.5rem;
  margin-top: 5%;
}

/* Text Color on White Background */
.text-color3 {
  color: white;
}

/* Text Color on Orange Background */
.text-color4 {
  color: orange;
}

/* Email Password Input field modify */
/* .form-controlcustum {
  border-color: gray;   
} */

.form-controlcustum:focus {
  /* border-color: gray; */
  box-shadow: 0px 0px 5px 2px gray;
}
/*
.form-check-input {
  border-color: orange;
} */

/* Checkbox field modify */
/* .form-check-input:checked {
  border-color: orange;
  background-color: orange;
}
.form-check-input:focus {
  border-color: orange;
  box-shadow: 0px 0px 1px 1px orange;
} */
